h1{
    text-align: center;
    border: solid 3px;
    background-color:rgb(247, 213, 242) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#tipo{
    background-image: url("../img/degradado.svg") ;
    text-align: center;
    border: double 10px;
    padding: 150px ;
    margin: 30px;
}
.nombres{
    text-align: left;
}
.siete{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Países{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3ch;
    border-bottom: solid 1px;
}